@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #2b8af4 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #2b8af4 !important;
  border-color: #2b8af4 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0a64c8 !important;
  border-color: #0a64c8 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0a64c8 !important;
  border-color: #0a64c8 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0958b0;
  color: #0958b0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2b8af4;
  border-color: #2b8af4;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2b8af4 !important;
  border-color: #2b8af4 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #2b8af4 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0958b0 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #2b8af4;
  border-color: #2b8af4;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #2b8af4;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #edf5fe;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #2b8af4;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2b8af4;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2b8af4;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #2b8af4;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #2b8af4;
  border-bottom-color: #2b8af4;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #2b8af4 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%232b8af4' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-sj96IDzgRB {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-sj96IDzgRB H1 {
  color: #e4d295;
  text-align: center;
}
.cid-sj96IDzgRB H3 {
  color: #ffffff;
  text-align: center;
}
.cid-sj96HLsSVM {
  padding-top: 90px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/background1-1.jpg");
}
.cid-sj96HLsSVM .icons-media-container {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4rem;
}
.cid-sj96HLsSVM .icons-media-container .mbr-iconfont {
  font-size: 96px;
  color: #ffffff;
}
.cid-sj96HLsSVM .icons-media-container .icon-block {
  padding-bottom: 1rem;
}
.cid-sj96HLsSVM .mbr-text {
  color: #ffffff;
}
.cid-sj96HLsSVM .card {
  padding-bottom: 1.5rem;
}
.cid-sj9kKCGEru {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #2e2e2e;
}
.cid-sj9kKCGEru .card {
  align-self: stretch;
}
.cid-sj9kKCGEru .card-box {
  height: 100%;
  background-color: #2e2e2e;
  padding: 2rem;
}
.cid-sj9kKCGEru h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sj9kKCGEru p {
  color: #767676;
  text-align: left;
}
.cid-sj9kKCGEru .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sj9kKCGEru .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-sj9kKCGEru .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-sj9kKCGEru P {
  text-align: center;
}
.cid-sj96FU0A0k {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
.cid-sj96FU0A0k .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-sj96FU0A0k H3 {
  text-align: center;
  color: #000000;
}
.cid-sj96FU0A0k .mbr-section-title DIV {
  text-align: center;
}
.cid-sj96FU0A0k .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-sj96FU0A0k .mbr-text,
.cid-sj96FU0A0k .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-sj96F1WpAR {
  padding-top: 90px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #efefef, #efefef);
}
.cid-sj96F1WpAR .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-sj96F1WpAR H3 {
  text-align: center;
  color: #000000;
}
.cid-sj96F1WpAR .mbr-section-title DIV {
  text-align: center;
}
.cid-sj96F1WpAR .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-sj96F1WpAR .mbr-text,
.cid-sj96F1WpAR .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-sj96Efw02O {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-sj96Efw02O .card {
  align-self: stretch;
}
.cid-sj96Efw02O .card-box {
  height: 100%;
  background-color: #ffffff;
  padding: 2rem;
}
.cid-sj96Efw02O h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sj96Efw02O p {
  color: #767676;
  text-align: left;
}
.cid-sj96Efw02O .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sj96Efw02O .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-sj96Efw02O .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-sj96Efw02O P {
  text-align: left;
}
.cid-sj96DC2Ju4 {
  padding-top: 90px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
.cid-sj96DC2Ju4 .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-sj96DC2Ju4 H3 {
  text-align: center;
  color: #000000;
}
.cid-sj96DC2Ju4 .mbr-section-title DIV {
  text-align: center;
}
.cid-sj96DC2Ju4 .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-sj96DC2Ju4 .mbr-text,
.cid-sj96DC2Ju4 .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-sj96CZ1Tcf {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sj96CZ1Tcf .card {
  align-self: stretch;
}
.cid-sj96CZ1Tcf .card-box {
  height: 100%;
  background-color: #efefef;
  padding: 2rem;
}
.cid-sj96CZ1Tcf h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sj96CZ1Tcf p {
  color: #767676;
  text-align: left;
}
.cid-sj96CZ1Tcf .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sj96CZ1Tcf .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-sj96CZ1Tcf .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-sj96CZ1Tcf P {
  text-align: left;
}
.cid-sj96BWTID6 {
  background: #c1c1c1;
}
.cid-sj96BWTID6 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-sj96BWTID6 figcaption {
  position: relative;
}
.cid-sj96BWTID6 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sj96BWTID6 .image-block {
    width: 100% !important;
  }
}
.cid-sj96AZjs2f {
  padding-top: 15px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #efefef, #efefef);
}
.cid-sj96AZjs2f .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-sj96AZjs2f .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-sj96AZjs2f H3 {
  color: #232323;
  text-align: center;
}
.cid-sj96AZjs2f .mbr-text,
.cid-sj96AZjs2f .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-sj96AuFijh {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-sj96AuFijh .card {
  align-self: stretch;
}
.cid-sj96AuFijh .card-box {
  height: 100%;
  background-color: #ffffff;
  padding: 2rem;
}
.cid-sj96AuFijh h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sj96AuFijh p {
  color: #767676;
  text-align: left;
}
.cid-sj96AuFijh .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sj96AuFijh .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-sj96AuFijh .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-sj96AuFijh P {
  text-align: center;
}
.cid-sj96zeEZyr {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #0f7699, #cc2952);
}
.cid-sj96zeEZyr .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-sj96zeEZyr .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-sj96zeEZyr .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-sj96zeEZyr .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-sj96zeEZyr .plan .list-group-item:last-child::after {
  display: none;
}
.cid-sj96zeEZyr .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sj96zeEZyr .plan-header,
.cid-sj96zeEZyr .plan-body {
  background-color: #fff;
}
.cid-sj96zeEZyr .price-figure {
  font-weight: 700;
  color: #232323;
}
.cid-sj96zeEZyr .price-value {
  font-weight: 700;
  vertical-align: top;
  color: #ffffff;
}
@media (max-width: 550px) {
  .cid-sj96zeEZyr .price-figure {
    font-size: 4.25rem;
  }
}
.cid-sj96zeEZyr UL {
  text-align: center;
}
.cid-sj96vpjXQ1 {
  padding-top: 105px;
  padding-bottom: 120px;
  background-color: #2e2e2e;
}
.cid-sj96vpjXQ1 .mbr-text,
.cid-sj96vpjXQ1 .mbr-section-btn {
  color: #e4d295;
}
.cid-sj96yi193o {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sj96yi193o .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-sj96yi193o .step {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border-radius: 50%;
  border: 2px solid #efefef;
}
@media (max-width: 767px) {
  .cid-sj96yi193o .step {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
.cid-sj96yi193o .separline {
  position: relative;
}
.cid-sj96yi193o .separline:after {
  top: 68px;
  left: 30px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (32px + 4px) * 2);
  background-color: #efefef;
}
@media (max-width: 767px) {
  .cid-sj96yi193o .separline:after {
    top: 52px;
    left: 22px;
    height: calc(100% - 56px);
  }
}
.cid-sj96wJx7mV {
  background: #c1c1c1;
}
.cid-sj96wJx7mV .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-sj96wJx7mV figcaption {
  position: relative;
}
.cid-sj96wJx7mV figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sj96wJx7mV .image-block {
    width: 100% !important;
  }
}
.cid-sj96xznTXm {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #000000;
}
.cid-sj96xznTXm .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sj96xznTXm H2 {
  color: #ffffff;
}
.cid-sjBfh8CwxK {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #ffffff;
}
.cid-sjBfh8CwxK p {
  color: #767676;
}
.cid-sjBfh8CwxK .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-sjBfh8CwxK .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-sjBfh8CwxK .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-sjBfh8CwxK .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-sjBfh8CwxK .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-sjBfh8CwxK .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-sjBfh8CwxK H4 {
  text-align: center;
}
.cid-sjBfh8CwxK .panel-text {
  text-align: center;
}
.cid-sj96uSgaJ3 {
  background: #c1c1c1;
}
.cid-sj96uSgaJ3 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-sj96uSgaJ3 figcaption {
  position: relative;
}
.cid-sj96uSgaJ3 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sj96uSgaJ3 .image-block {
    width: 100% !important;
  }
}
.cid-sj96uhDTTC {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-7-1887x1258.jpg");
}
.cid-sj96uhDTTC .testimonials-container {
  margin: 0 auto;
}
.cid-sj96uhDTTC .testimonials-container .testimonials-item {
  justify-content: center;
  margin-top: 3rem;
  -webkit-justify-content: center;
}
.cid-sj96uhDTTC .testimonials-container .testimonials-item .user {
  background: #ffffff;
}
.cid-sj96uhDTTC .testimonials-container .testimonials-item .user.row {
  margin: 0;
}
.cid-sj96uhDTTC .testimonials-container .testimonials-item .user .user_image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 2rem auto 2rem auto;
}
.cid-sj96uhDTTC .testimonials-container .testimonials-item .user .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-sj96uhDTTC .testimonials-container .testimonials-item .user .testimonials-caption {
  padding: 2rem;
  padding: 2rem 2rem 2rem 0;
}
@media (max-width: 260px) {
  .cid-sj96uhDTTC .user_image {
    width: 100% !important;
    height: auto !important;
  }
}
@media (max-width: 767px) {
  .cid-sj96uhDTTC .testimonials-caption {
    padding: 0 2rem 2rem 2rem !important;
  }
}
.cid-sj96tC01oV {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #2e2e2e;
}
.cid-sj96tC01oV H1 {
  color: #e4d295;
  text-align: center;
}
.cid-sj96tC01oV H3 {
  color: #ffffff;
  text-align: center;
}
.cid-siKDcDR5GV {
  padding-top: 45px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #2e2e2e, #000000);
}
.cid-siKDcDR5GV .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-siKDcDR5GV .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-siKDcDR5GV H3 {
  color: #b1a374;
  text-align: center;
}
.cid-siKDcDR5GV .mbr-text,
.cid-siKDcDR5GV .mbr-section-btn {
  color: #767676;
  text-align: center;
}
.cid-siNv168AB0 {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
.cid-siNv168AB0 .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-siNv168AB0 H3 {
  text-align: center;
  color: #000000;
}
.cid-siNv168AB0 .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-siNvTIORsj {
  background: #ffffff;
}
.cid-siNvTIORsj .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-siNvTIORsj figcaption {
  position: relative;
}
.cid-siNvTIORsj figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-siNvTIORsj .image-block {
    width: 100% !important;
  }
}
.cid-siNvTIORsj DIV {
  color: #7f1933;
}
.cid-siNvUkfyVn {
  padding-top: 120px;
  padding-bottom: 120px;
  background: linear-gradient(45deg, #efefef, #ffffff);
}
.cid-siNvUkfyVn .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-siNvUkfyVn .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-siNvUkfyVn H3 {
  color: #232323;
  text-align: center;
}
.cid-siNvUkfyVn .mbr-text,
.cid-siNvUkfyVn .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-siNvUQEfy3 {
  padding-top: 120px;
  padding-bottom: 120px;
  background: linear-gradient(45deg, #efefef, #ffffff);
}
.cid-siNvUQEfy3 .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-siNvUQEfy3 .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-siNvUQEfy3 H3 {
  color: #232323;
  text-align: center;
}
.cid-siNvUQEfy3 .mbr-text,
.cid-siNvUQEfy3 .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-siQFpeO6Gy {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #0f7699, #cc2952);
}
.cid-siQFpeO6Gy .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-siQFpeO6Gy .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-siQFpeO6Gy .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-siQFpeO6Gy .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-siQFpeO6Gy .plan .list-group-item:last-child::after {
  display: none;
}
.cid-siQFpeO6Gy .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-siQFpeO6Gy .plan-header,
.cid-siQFpeO6Gy .plan-body {
  background-color: #fff;
}
.cid-siQFpeO6Gy .price-figure {
  font-weight: 700;
  color: #232323;
}
.cid-siQFpeO6Gy .price-value {
  font-weight: 700;
  vertical-align: top;
  color: #000000;
}
@media (max-width: 550px) {
  .cid-siQFpeO6Gy .price-figure {
    font-size: 4.25rem;
  }
}
.cid-siQFpeO6Gy UL {
  text-align: center;
}
.cid-siNxsOCbAS {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #ffffff;
}
.cid-siNxsOCbAS p {
  color: #767676;
}
.cid-siNxsOCbAS .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-siNxsOCbAS .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-siNxsOCbAS .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-siNxsOCbAS .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-siNxsOCbAS .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-siNxsOCbAS .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-siNvniRppN {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #2e2e2e;
}
.cid-siNvniRppN H1 {
  color: #ffffff;
  text-align: center;
}
.cid-siNvniRppN H3 {
  color: #ffffff;
  text-align: center;
}
.cid-siv4xTw6aP {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #0f7699;
}
.cid-siv4xTw6aP .mbr-section-subtitle {
  color: #ffffff;
}
.cid-siv4xTw6aP H2 {
  color: #ffffff;
}
.cid-siAvaNOljC {
  background: #c1c1c1;
}
.cid-siAvaNOljC .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-siAvaNOljC figcaption {
  position: relative;
}
.cid-siAvaNOljC figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-siAvaNOljC .image-block {
    width: 100% !important;
  }
}
.cid-siv4Ncjh0j {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-siv4Ncjh0j .mbr-section-subtitle {
  color: #132511;
}
.cid-siv4Ncjh0j H2 {
  color: #149dcc;
}
.cid-siAOKLdSFR {
  background: #c1c1c1;
}
.cid-siAOKLdSFR .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-siAOKLdSFR figcaption {
  position: relative;
}
.cid-siAOKLdSFR figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-siAOKLdSFR .image-block {
    width: 100% !important;
  }
}
.cid-siI8UkjDbB {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-siI8UkjDbB .mbr-section-subtitle {
  color: #132511;
}
.cid-siI8UkjDbB H2 {
  color: #149dcc;
}
.cid-siI7SgumXl {
  background: #c1c1c1;
}
.cid-siI7SgumXl .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-siI7SgumXl figcaption {
  position: relative;
}
.cid-siI7SgumXl figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-siI7SgumXl .image-block {
    width: 100% !important;
  }
}
.cid-siHLnrtPA1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-siHLnrtPA1 .mbr-section-subtitle {
  color: #767676;
}
.cid-sj8XDnYZR0 {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #0f7699, #cc2952);
}
.cid-sj8XDnYZR0 .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-sj8XDnYZR0 .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-sj8XDnYZR0 .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-sj8XDnYZR0 .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-sj8XDnYZR0 .plan .list-group-item:last-child::after {
  display: none;
}
.cid-sj8XDnYZR0 .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sj8XDnYZR0 .plan-header,
.cid-sj8XDnYZR0 .plan-body {
  background-color: #fff;
}
.cid-sj8XDnYZR0 .price-figure {
  font-weight: 700;
  color: #232323;
}
.cid-sj8XDnYZR0 .price-value {
  font-weight: 700;
  vertical-align: top;
  color: #cccccc;
}
@media (max-width: 550px) {
  .cid-sj8XDnYZR0 .price-figure {
    font-size: 4.25rem;
  }
}
.cid-sj8XDnYZR0 UL {
  text-align: center;
}
.cid-siLU0qAiiI {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #2e2e2e;
}
.cid-siLU0qAiiI H1 {
  color: #ffffff;
  text-align: center;
}
.cid-siLU0qAiiI H3 {
  color: #ffffff;
  text-align: center;
}
.cid-siHClLpLIJ {
  padding-top: 15px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-siHClLpLIJ .mbr-section-subtitle {
  color: #232323;
  font-weight: 300;
}
.cid-siHClLpLIJ .mbr-content-text {
  color: #767676;
}
.cid-siHClLpLIJ .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-siHClLpLIJ .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
@media (max-width: 767px) {
  .cid-siHClLpLIJ .card:not(.last-child) {
    padding-bottom: 1.5rem;
  }
}
.cid-siHClLpLIJ .img-text {
  color: #82786e;
}
.cid-siNz9HWD3g {
  background: #ffffff;
}
.cid-siNz9HWD3g .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-siNz9HWD3g figcaption {
  position: relative;
}
.cid-siNz9HWD3g figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-siNz9HWD3g .image-block {
    width: 100% !important;
  }
}
.cid-siNz9HWD3g DIV {
  color: #7f1933;
}
.cid-siHGfOugQJ {
  padding-top: 15px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-siHGfOugQJ .mbr-section-subtitle {
  color: #f4380d;
  font-weight: 300;
}
.cid-siHGfOugQJ .mbr-content-text {
  color: #767676;
}
.cid-siHGfOugQJ .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-siHGfOugQJ .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
@media (max-width: 767px) {
  .cid-siHGfOugQJ .card:not(.last-child) {
    padding-bottom: 1.5rem;
  }
}
.cid-siHGfOugQJ .img-text {
  color: #b1a374;
}
.cid-siB39x0TnT {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-siB39x0TnT .mbr-section-subtitle {
  color: #767676;
}
.cid-sjprLD97rd {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #465052;
}
.cid-sjprLD97rd .mbr-section-subtitle {
  color: #767676;
}
.cid-sjprLD97rd H2 {
  color: #ffffff;
}
.cid-siRArv6mt8 {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #465052;
}
.cid-siAndWOLX4 {
  padding-top: 120px;
  padding-bottom: 120px;
  background: linear-gradient(45deg, #ffffff, #cebfaf);
}
.cid-siAndWOLX4 .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-siAndWOLX4 .mbr-section-title {
  color: #132511;
  text-align: center;
}
.cid-siAndWOLX4 H3 {
  color: #232323;
  text-align: center;
}
.cid-siAndWOLX4 .mbr-text,
.cid-siAndWOLX4 .mbr-section-btn {
  color: #767676;
  text-align: center;
}
.cid-sj96niDael {
  background-color: #232323;
}
.cid-sj96niDael H3 {
  color: #e4d295;
}
.cid-siYsrwoxeU {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-siYsrwoxeU H1 {
  color: #e4d295;
  text-align: center;
}
.cid-siYsrwoxeU H3 {
  color: #767676;
  text-align: center;
}
.cid-siYsrwoxeU .mbr-text,
.cid-siYsrwoxeU .mbr-section-btn {
  color: #e4d295;
}
.cid-sjjbZcIOlw {
  background: #c1c1c1;
}
.cid-sjjbZcIOlw .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-sjjbZcIOlw figcaption {
  position: relative;
}
.cid-sjjbZcIOlw figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sjjbZcIOlw .image-block {
    width: 100% !important;
  }
}
.cid-sjjyS28eaD {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sjjyS28eaD .mbr-section-subtitle {
  color: #132511;
}
.cid-sjjyS28eaD H2 {
  color: #149dcc;
}
.cid-sjjgeqejQy {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sjjgeqejQy .mbr-section-subtitle {
  color: #767676;
}
.cid-sjjq4C60vP {
  background: #c1c1c1;
}
.cid-sjjq4C60vP .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-sjjq4C60vP figcaption {
  position: relative;
}
.cid-sjjq4C60vP figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sjjq4C60vP .image-block {
    width: 100% !important;
  }
}
.cid-sjjboSQyrF {
  padding-top: 15px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #efefef, #efefef);
}
.cid-sjjboSQyrF .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-sjjboSQyrF .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-sjjboSQyrF H3 {
  color: #232323;
  text-align: center;
}
.cid-sjjboSQyrF .mbr-text,
.cid-sjjboSQyrF .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-sjjbBpVl6i {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #ffffff;
}
.cid-sjjbBpVl6i p {
  color: #767676;
}
.cid-sjjbBpVl6i .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-sjjbBpVl6i .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-sjjbBpVl6i .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-sjjbBpVl6i .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-sjjbBpVl6i .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-sjjbBpVl6i .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-sjjexqRCfG {
  background: #ffffff;
}
.cid-sjjexqRCfG .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-sjjexqRCfG figcaption {
  position: relative;
}
.cid-sjjexqRCfG figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sjjexqRCfG .image-block {
    width: 100% !important;
  }
}
.cid-sjjexqRCfG DIV {
  color: #7f1933;
}
.cid-sjoYxCMpXL {
  padding-top: 15px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #efefef, #efefef);
}
.cid-sjoYxCMpXL .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-sjoYxCMpXL .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-sjoYxCMpXL H3 {
  color: #232323;
  text-align: center;
}
.cid-sjoYxCMpXL .mbr-text,
.cid-sjoYxCMpXL .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-sjoYyrDoas {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #ffffff;
}
.cid-sjoYyrDoas p {
  color: #767676;
}
.cid-sjoYyrDoas .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-sjoYyrDoas .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-sjoYyrDoas .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-sjoYyrDoas .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-sjoYyrDoas .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-sjoYyrDoas .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-sjjqoyDWxr {
  padding-top: 15px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #efefef, #f0c637);
}
.cid-sjjqoyDWxr .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-sjjqoyDWxr .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-sjjqoyDWxr H3 {
  color: #232323;
  text-align: center;
}
.cid-sjjqoyDWxr .mbr-text,
.cid-sjjqoyDWxr .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-sjoVK4nL8Y {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sjoVK4nL8Y .image-block {
  margin: auto;
}
.cid-sjoVK4nL8Y .mbr-figure {
  margin: 0 auto;
}
.cid-sjoVK4nL8Y figcaption {
  position: relative;
}
.cid-sjoVK4nL8Y figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sjoVK4nL8Y .image-block {
    width: 100% !important;
  }
}
.cid-sjoVXJvTBS {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sjoVXJvTBS .image-block {
  margin: auto;
}
.cid-sjoVXJvTBS .mbr-figure {
  margin: 0 auto;
}
.cid-sjoVXJvTBS figcaption {
  position: relative;
}
.cid-sjoVXJvTBS figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sjoVXJvTBS .image-block {
    width: 100% !important;
  }
}
.cid-sjoVYiLQ5M {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sjoVYiLQ5M .image-block {
  margin: auto;
}
.cid-sjoVYiLQ5M .mbr-figure {
  margin: 0 auto;
}
.cid-sjoVYiLQ5M figcaption {
  position: relative;
}
.cid-sjoVYiLQ5M figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sjoVYiLQ5M .image-block {
    width: 100% !important;
  }
}
.cid-sjoYAPcY7r {
  background: #ffffff;
}
.cid-sjoYAPcY7r .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-sjoYAPcY7r figcaption {
  position: relative;
}
.cid-sjoYAPcY7r figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-sjoYAPcY7r .image-block {
    width: 100% !important;
  }
}
.cid-sjoYAPcY7r DIV {
  color: #7f1933;
}
.cid-sjjjl2Rm1f {
  padding-top: 15px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #efefef, #efefef);
}
.cid-sjjjl2Rm1f .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-sjjjl2Rm1f .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-sjjjl2Rm1f H3 {
  color: #232323;
  text-align: center;
}
.cid-sjjjl2Rm1f .mbr-text,
.cid-sjjjl2Rm1f .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-sjjjLH7HkA {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #ffffff;
}
.cid-sjjjLH7HkA p {
  color: #767676;
}
.cid-sjjjLH7HkA .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-sjjjLH7HkA .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-sjjjLH7HkA .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-sjjjLH7HkA .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-sjjjLH7HkA .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-sjjjLH7HkA .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-sjjjLH7HkA H4 {
  text-align: center;
}
.cid-sjjjLH7HkA .panel-text {
  text-align: center;
}
.cid-sj91m9mAT8 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-sj91m9mAT8 .card {
  align-self: stretch;
}
.cid-sj91m9mAT8 .card-box {
  height: 100%;
  background-color: #ffffff;
  padding: 2rem;
}
.cid-sj91m9mAT8 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sj91m9mAT8 p {
  color: #767676;
  text-align: left;
}
.cid-sj91m9mAT8 .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sj91m9mAT8 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-sj91m9mAT8 .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-sj91m9mAT8 P {
  text-align: center;
}
.cid-sj91m9mAT8 .card-title {
  text-align: center;
}
.cid-siIiJn8G9A {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #2e2e2e;
}
.cid-siIiJn8G9A H1 {
  color: #e4d295;
  text-align: center;
}
.cid-siIiJn8G9A H3 {
  color: #ffffff;
  text-align: center;
}
